<ion-header>
  <ion-navbar>
    <ion-title>parecer</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row class="box2 boxPorcentagem2">
    pklczljlkzxdm
  </ion-row>

  <ion-grid class="box boxPorcentagem">
    <p>Nome da Sessão</p>
    <ion-row>
      <ion-col>
        <p>Quesito 1</p>
      </ion-col>
      <ion-col text-right>
        <ion-icon name="bookmark"></ion-icon>
      </ion-col>
      <ion-col col-1 text-right>
        <ion-icon name="more"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-col margin-top col-12>
      <ion-row>
        <ion-col class="andre" col-6>
          <ion-item>
            <ion-label stacked>Titulo</ion-label>
            <ion-input type="" placeholder="insira algo"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label stacked>Tipo de</ion-label>
            <ion-select interface="popover" placeholder="Select One" (click)="exibeOpcao()">
              <ion-option>Texto</ion-option>
              <ion-option>Seleção única</ion-option>
              <ion-option>Seleção múltipla</ion-option>
              <ion-option>Anexar arquivo</ion-option>
              <ion-option>Data</ion-option>
              <ion-option>Hora</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col margin-top col-6>
          <ion-row>
            <ion-col col-11>
              <ion-item *ngIf="showOpcao" [hidden]="a">
                <ion-label>Opção 1</ion-label>
                <ion-checkbox (click)="exibeCheckSim()" slot="end" value="pepperoni"></ion-checkbox>
              </ion-item>
              <ion-item *ngIf="opcaoSim" [hidden]="!a">
                <ion-label>Sim</ion-label>
                <ion-checkbox slot="end" value="pepperoni"></ion-checkbox>
              </ion-item>
            </ion-col>
            <ion-col col-1>
              <button margin-top *ngIf="showOpcao" [hidden]="a" (click)="exibeOpcao()" ion-button clear
                color="dark">x</button>
              <button margin-top *ngIf="opcaoSim" [hidden]="!a" (click)="exibeCheckSim()" ion-button clear
                color="dark">x</button>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col col-6>
          <ion-row>
            <ion-col>
              <ion-item *ngIf="opcaoSim" [hidden]="!a">
                <ion-label stacked>Selecionar condicional</ion-label>
                <ion-select interface="popover" placeholder="selecione" [(ngModel)]="a" multiple="false">
                  <ion-option>Proceguir para sessão</ion-option>
                  <ion-option>Teste1</ion-option>
                  <ion-option>Teste2</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col margin-top col-6>
          <ion-row>
            <ion-col col-11>
              <ion-item *ngIf="opcaoNao">
                <ion-label>Não</ion-label>
                <ion-checkbox slot="end" value="pepperoni"></ion-checkbox>
              </ion-item>
            </ion-col>
            <ion-col col-1>
              <button margin-top *ngIf="opcaoNao" (click)="exibeCheckNao()" ion-button clear color="dark">x</button>
            </ion-col>

          </ion-row>
        </ion-col>
        <ion-col col-6>
          <ion-row>
            <ion-col>
              <ion-item *ngIf="opcaoNao">
                <ion-label stacked>Selecionar condicional</ion-label>
                <ion-select interface="popover" [(ngModel)]="b" multiple="false">
                  <ion-option>Proceguir para sessão</ion-option>
                  <ion-option>Teste1</ion-option>
                  <ion-option>Teste2</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-row>
          <ion-col>
            <button (click)="exibeCheckNao()" *ngIf="opcaoSim" margin-top ion-button clear color="dark">ADICONAR
              OPÇÃO</button>
            <ion-item>
              <ion-label>Quesito obrigatório</ion-label>
              <ion-toggle [(ngModel)]="pepperoni"></ion-toggle>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>