<ion-header>
  <ion-navbar>
    <ion-title>Ng-If e Hiedden</ion-title>
  </ion-navbar>
</ion-header>

<!-- Utilizando ngIf -->
<ion-content padding>
  <ion-row *ngIf="mostrarInformacao">
    <h2>Mostrar texto</h2>
  </ion-row>
  <ion-row *ngIf="!mostrarInformacao">
    <h2>Texto oculto</h2>
  </ion-row>
  <!-- Utilizando Hiden -->
  
    <ion-row [hidden]="mostrarInformacao">
      <h2>Mostrar texto</h2>
    </ion-row>
    <ion-row [hidden]="!mostrarInformacao">
      <h2>Texto oculto</h2>
    </ion-row>

  <button (click)="show()" ion-button block outline>Mostrart-coulltar-ngIf</button>
  <button (click)="show()" ion-button block outline>Mostrart-coulltar-Hidden</button>
  
  <ion-grid class="box">
      <ion-row>
        <h2>Programação e publicação</h2>
      </ion-row>
      <ion-row>
        <p>Selecione uma data para publicar o protocolo.</p>
      </ion-row>
      <!-- CHECKBOX COM DISABLE PARA CALENDÁRIO -->
      <ion-grid>
        <form [formGroup]="formGroup">
          <ion-col col-12>
            <ion-row>
              <ion-col col-4>
                <ion-input placeholder="Data de expiração" type="text"></ion-input>
              </ion-col>
              <ion-col col-4>
                <ion-input placeholder="Data de expiração" [disabled]="formGroup.invalid" type="text"></ion-input>
              </ion-col>
              <ion-col col-4>
                <ion-label>Este protocolo expira</ion-label>
                <ion-checkbox checked="false" [(ngModel)]="pepperoni" formControlName="nome"></ion-checkbox>
              </ion-col>
            </ion-row>
          </ion-col>
        </form>
    </ion-grid>
    </ion-grid>
  
</ion-content>


