protocolo {
    .danger{
        color: $danger;
    }
    .blue{
        color: $blue;
    }
    .aguardaMedico{
        color: $aguardando;
    }
    .cancelado{
        color: $cancelado;
    }
    .iniciado{
        color: red;
    }
    .finalizado{
        color: #1da15f;
    }
    .corcss{
        color: #1da15f;
    }
    .execucao{
        color: red;
    }
    .cor1{
        color: blue;
    }
    .cor2{
        color: red;
    }
   .cor3{
    color: yellow;
   }
   .apagado{
       background-color: red;
   }
   .lx{
       color: white;
   }
}
